body {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 5%;
    padding-right: 5%;
}

/* Not sure if the flex-wrap has any effect here */
/* .homepage {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
} */

.navbar {
    display: flex;
}

.logo {
    font-size: x-large;
    font-weight: 500;
    background: -webkit-linear-gradient(#30cfd0 0%, #330867);
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-effect {
    margin-right: auto;
    --s: 0.1em;
    --c: #00538C;

    color: #0000;
    padding-bottom: var(--s);
    background:
        linear-gradient(90deg, var(--c) 50%, #000 0) calc(100% - var(--_p, 0%))/200% 100%,
        linear-gradient(var(--c) 0 0) 0% 100%/var(--_p, 0%) var(--s) no-repeat;
    -webkit-background-clip: text, padding-box;
    background-clip: text, padding-box;
    transition: 0.5s;
}

.text-effect:hover {
    --_p: 100%;
}

.menu {
    display: flex;
    margin-left: auto;
    align-items: center;
}

.menu button {
    cursor: pointer;
    background-color:#0a0a23;
    color: #fff;
    border-radius: 5px;
    border-color: black;
    border-width: 1px;
    min-height: 25px;
    min-width: 60px;
}

.menu button:hover {
    background-color: white;
    border-color: black;
    color: black;
    transition: 0.7s;
}

.introduction {
    display: flex;
    font-weight: 200;
    font-size: xx-large;
    margin-top: -20px;
    margin-bottom: -20px;
}

.footer {
    display: flex;
    justify-content: space-between;
}

.socials {
    display: flex;
    gap: 15px;
}

.socials a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.socials a:hover {
    color: #00538C;
}

.hyperlink-social {
    color: #00538C;
    text-decoration: none;
}

.hyperlink-social:hover {
    text-decoration: underline;
}

.socials-intro {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.projects-overview {
    border: solid #d0d0d0 1px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.projects-overview:hover {
    border-color: #00538C;
}

.project-title {
    font-size: large;
}

.see-more {
    display: flex;
    justify-content: center;
    color: gray;
    cursor: pointer;
}

.see-more:hover {
    color: #00538C;
}
