body {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 5%;
    padding-right: 5%;
}

.navbar {
    display: flex;
}

.logo {
    font-size: x-large;
    font-weight: 500;
}

.menu {
    display: flex;
    margin-left: auto;
    align-items: center;
}

.menu button {
    cursor: pointer;
    background-color: #0a0a23;
    color: #fff;
    border-radius: 5px;
    border-color: black;
    border-width: 1px;
    min-height: 30px;
    min-width: 90px;
}

.menu button:hover {
    background-color: rgb(245, 245, 245);
    border-color: black;
    color: black;
}

#projects-button {
    min-width: 70px;
}

.footer {
    display: flex;
    justify-content: space-between;
}

.socials {
    display: flex;
    gap: 15px;
}

.socials a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.socials a:hover {
    color: #00538c;
}

.hyperlink-social {
    color: #00538c;
    text-decoration: none;
}

.hyperlink-social:hover {
    text-decoration: underline;
}

.socials-intro {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.subheading-overview {
    border: solid rgb(200, 200, 200) 1px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.subheading-overview:hover {
    border-color: #00538c;
}

.subheading-title {
    font-size: large;
}

.subheading-homepage-container {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.view-full-experience-button:hover {
    color: #00538c;
}

.view-full-experience-button {
    cursor: pointer;
    color: gray;
}

.back-button {
    cursor: pointer;
    background-color: #0a0a23;
    color: #fff;
    border-radius: 5px;
    border-color: black;
    border-width: 1px;
    min-height: 25px;
    min-width: 60px;
}

.back-button:hover {
    background-color: rgb(245, 245, 245);
    border-color: black;
    color: black;
}

.job-title {
    font-style: italic;
    margin-top: -10px;
}

.repo-link {
    color: inherit;
}
