body {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 5%;
    padding-right: 5%;
}

.navbar {
    display: flex;
}

.logo {
    font-size: x-large;
    font-weight: 500;
}

.menu {
    display: flex;
    margin-left: auto;
    align-items: center;
}

.menu button {
    cursor: pointer;
    background-color:#0a0a23;
    color: #fff;
    border-radius: 5px;
    border-color: black;
    border-width: 1px;
    min-height: 30px;
    min-width: 60px;
}

.menu button:hover {
    background-color: white;
    border-color: black;
    color: black;
    transition: 0.7s;
}


.footer {
    display: flex;
    justify-content: space-between;
}

.socials {
    display: flex;
    gap: 15px;
}

.socials a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.socials a:hover {
    color: #00538C;
}

.hyperlink-social {
    color: #00538C;
    text-decoration: none;
}

.hyperlink-social:hover {
    text-decoration: underline;
}

.socials-intro {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.subheading-overview {
    border: solid #d0d0d0 1px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.subheading-overview:hover {
    border-color: #00538C;
}

.subheading-title {
    font-size: large;
}

.see-more {
    display: flex;
    justify-content: center;
}

.see-more-button:hover {
    color: #00538C;
}

.see-more-button {
    cursor: pointer;
    color: gray;
    width: fit-content;
}

.back-button {
    cursor: pointer;
    background-color:#0a0a23;
    color: #fff;
    border-radius: 5px;
    border-color: black;
    border-width: 1px;
    min-height: 25px;
    min-width: 60px;
}

.back-button:hover {
    background-color: white;
    border-color: black;
    color: black;
    transition: 0.7s;
}


.job-title {
    font-style: italic;
    margin-top: -10px;
}

.repo-link {
    color: inherit;
}   